<h2>Post by <%= username %></h2>

<a href="/">Back</a>
<div>
    <h3><%= title %></h3>
    <p> <%= description %> </p>
</div>
<% if (locals.currentUser) { %>
    <a href='<%=post.url%>/delete'>Delete</a>
<% } %>
