<h2>Sign up</h2>
<p><%= locals.error %></p>
<form method="POST" action="">
    <label for="firstname">First Name: </label>
    <input type="text" name="firstname" id="firstname">

    <label for="lastname">Last Name: </label>
    <input type="text" id="lastname" name="lastname">
    
    <label for="username">Username: </label>
    <input type="text" id="username" name="username">

    <label for="password">Password: </label>
    <input type="password" id="password" name="password">
    
    <label for="confirmpassword">Confirm Password</label>
    <input name="confirmpassword" type="password" />

    <label for="admin">Is Admin</label>
    <input name="admin" type="checkbox" />

    <input type="hidden" id="membership" name="membership" value="false">
    <button type="submit">Submit</button>

</form>